# !pip install pandas

In [1]:
import numpy as np
import pandas as pd

In [2]:
lst = 1,2,3,4,5

In [5]:
np.array(lst)

array([1, 2, 3, 4, 5])

In [4]:
pd.Series([lst,lst,lst]) #

0    (1, 2, 3, 4, 5)
1    (1, 2, 3, 4, 5)
2    (1, 2, 3, 4, 5)
dtype: object

In [9]:
[lst,lst,lst]

[(1, 2, 3, 4, 5), (1, 2, 3, 4, 5), (1, 2, 3, 4, 5)]

In [7]:
df = pd.DataFrame([lst,lst,lst,lst,lst,lst] , columns =['A','B','C','D','E']) #Data frame helps you to represent the data an

In [8]:
type(df)

pandas.core.frame.DataFrame

# DATASET GOOGLE PLAYSTORE

In [11]:
data = pd.read_csv("googleplaystore.csv").dropna()

head for 1st five data and .sample for any random 5 data set

In [14]:
data.head(5)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [29]:
type(data)#for type of data

pandas.core.frame.DataFrame

In [45]:
data.head() #for particular no. of columns

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [17]:
data['App'] #for data of particular column

0           Photo Editor & Candy Camera & Grid & ScrapBook
1                                      Coloring book moana
2        U Launcher Lite – FREE Live Cool Themes, Hide ...
3                                    Sketch - Draw & Paint
4                    Pixel Draw - Number Art Coloring Book
                               ...
10834                                        FR Calculator
10836                                     Sya9a Maroc - FR
10837                     Fr. Mike Schmitz Audio Teachings
10839                        The SCP Foundation DB fr nn5n
10840        iHoroscope - 2018 Daily Horoscope & Astrology
Name: App, Length: 9360, dtype: object

In [46]:
data['Size'] #for size

0                       19M
1                       14M
2                      8.7M
3                       25M
4                      2.8M
                ...
10836                   53M
10837                  3.6M
10838                  9.5M
10839    Varies with device
10840                   19M
Name: Size, Length: 10841, dtype: object

In [47]:
for i in data.columns: #loop for printing the data
    print(data[i][0])

Photo Editor & Candy Camera & Grid & ScrapBook
ART_AND_DESIGN
4.1
159
19M
10,000+
Free
0
Everyone
Art & Design
January 7, 2018
1.0.0
4.0.3 and up

In [16]:
type(data['App'] )

pandas.core.series.Series

## DATA PREPROCESSING(REMOVING NULL VALUES).

In [15]:
data.isnull()#everything is false means there is no null values

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10834,False,False,False,False,False,False,False,False,False,False,False,False,False
10836,False,False,False,False,False,False,False,False,False,False,False,False,False
10837,False,False,False,False,False,False,False,False,False,False,False,False,False
10839,False,False,False,False,False,False,False,False,False,False,False,False,False
10840,False,False,False,False,False,False,False,False,False,False,False,False,False

In [47]:
data.isnull().sum()#it will give the sum of null values in section ,AS there are 1474 null ratings in datasets

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       0
Android Ver       0
dtype: int64

Yes, you got it! The dropna() function is used to remove rows with missing values (NaN) from your DataFrame. By doing df = data.dropna(), you're creating a new DataFrame df that excludes any rows with NaN values from the original data DataFrame.

In [49]:
df =data.dropna()

In [50]:
df.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       0
Android Ver       0
dtype: int64

In [53]:
10841-9360 #1481 rows are dropped as they are null and we have use dropna()

1481

**DATA ANALYSIS NUMERIC**

# Q1. Finding Average rating

In [62]:
data['Rating']

0        4.1
1        3.9
2        4.7
3        4.5
4        4.3
        ...
10834    4.0
10836    4.5
10837    5.0
10839    4.5
10840    4.5
Name: Rating, Length: 9360, dtype: float64

What this below code does:


Sum the Ratings:

python

Copy
sum(data['Rating'])
This calculates the total sum of all values in the 'Rating' column of the DataFrame data.

Convert to Integer:

python

Copy
int(sum(data['Rating']))
This converts the sum of the ratings to an integer.

Divide by 9360:

python

Copy
int(sum(data['Rating'])) / 9360
This divides the integer sum of the ratings by 9360, presumably the total number of ratings to find the average rating.

Convert to String:

python

Copy
str(int(sum(data['Rating'])) / 9360)
This converts the result of the division to a string.

Slice the Result:

python

Copy
str(int(sum(data['Rating'])) / 9360)[:4]
This slices the string to keep only the first four characters.

Print the Result:

python

Copy
print("Average rating of apps:", str(int(sum(data['Rating'])) / 9360)[:4])
Finally, this prints the message "Average rating of apps:" followed by the sliced result of the average rating calculation.

In essence, the code calculates the average rating of the apps by summing all the ratings, dividing by the total number of ratings, converting the result to a string, slicing the first four characters, and then printing it. Good stuff!

In [85]:
print("Average rating of apps:",str(int(sum(data['Rating'])) / 9360)[:4]) #sum of all rating of the application

Average rating of apps: 4.19

In [68]:
str(int(sum(data['Rating'])) / 9360)[:4] #average of data

'4.19'

In [75]:
s=0
for i in data['Rating']:
    s+= i

s = int(s)
print(s/len (data['Rating'])) # this also gives you average rating of data

4.191773504273504

In [73]:
len (data['Rating'])

9360

## Q2. how many apps are there with rating 5?

In [90]:
c = 0
for i in data['Rating']:
    if (i == 5.0) :
        c += 1

print ("There are these many application with rating 5 is",c)

There are these many application with rating 5 is 274

## Q2. HOW MANY APPS ARE THERE WITH RATING BETWEEN 4 - 4.5 ?

In [95]:
c = 0
for  i in (data['Rating']):
    if (i >=4.0 and i<=4.5):
        c += 1

print(c)

5446

## Q5. AVERAGE APP REVIEWS

In [102]:
s = 0 
for i in data['Reviews']:
    s += int(i)

print(int(s/len(data['Reviews']))) # since reviews cannot be in decimal or float

514376

In [36]:
data.head(5)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10834,FR Calculator,FAMILY,4.0,7,2.6M,500+,Free,0,Everyone,Education,"June 18, 2017",1.0.0,4.1 and up
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [37]:
data

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10834,FR Calculator,FAMILY,4.0,7,2.6M,500+,Free,0,Everyone,Education,"June 18, 2017",1.0.0,4.1 and up
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [65]:
data

   A  B  C  D  E
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5
3  1  2  3  4  5
4  1  2  3  4  5
5  1  2  3  4  5

In [27]:
for i in data['Category'].unique(): #for printing in list manner
    print(i)

ART_AND_DESIGN
AUTO_AND_VEHICLES
BEAUTY
BOOKS_AND_REFERENCE
BUSINESS
COMICS
COMMUNICATION
DATING
EDUCATION
ENTERTAINMENT
EVENTS
FINANCE
FOOD_AND_DRINK
HEALTH_AND_FITNESS
HOUSE_AND_HOME
LIBRARIES_AND_DEMO
LIFESTYLE
GAME
FAMILY
MEDICAL
SOCIAL
SHOPPING
PHOTOGRAPHY
SPORTS
TRAVEL_AND_LOCAL
TOOLS
PERSONALIZATION
PRODUCTIVITY
PARENTING
WEATHER
VIDEO_PLAYERS
NEWS_AND_MAGAZINES
MAPS_AND_NAVIGATION

# Q1 How many categories are there?

In [29]:
len(data['Category'].unique()) #for count of category

33

# Que 2 Total APPS in ART an Design

In [42]:
c = 0
for i in data['Category']:
    if (i == 'ART_AND_DESIGN'):
        c += 1

print (c)

61

In [49]:
 data['Type'].unique()

array(['Free', 'Paid'], dtype=object)

# Que 3 Total no. of Free and Paid apps

In [52]:
c = 0
for i in data['Type']:
    if (i == 'Paid'):
        c += 1

print (c)

645

In [53]:
c = 0
for i in data['Type']:
    if (i == 'Free'):
        c += 1

print (c)

8715

# Que 4 Data of Content Rating

In [69]:
for i in data['Content Rating'].unique():
    print (i)

Everyone
Teen
Everyone 10+
Mature 17+
Adults only 18+
Unrated

## DATA ANALYSIS (AUTOMATIC CATEGORICAL)

In [82]:
for i in data['Category'].unique():
    print(i)

ART_AND_DESIGN
AUTO_AND_VEHICLES
BEAUTY
BOOKS_AND_REFERENCE
BUSINESS
COMICS
COMMUNICATION
DATING
EDUCATION
ENTERTAINMENT
EVENTS
FINANCE
FOOD_AND_DRINK
HEALTH_AND_FITNESS
HOUSE_AND_HOME
LIBRARIES_AND_DEMO
LIFESTYLE
GAME
FAMILY
MEDICAL
SOCIAL
SHOPPING
PHOTOGRAPHY
SPORTS
TRAVEL_AND_LOCAL
TOOLS
PERSONALIZATION
PRODUCTIVITY
PARENTING
WEATHER
VIDEO_PLAYERS
NEWS_AND_MAGAZINES
MAPS_AND_NAVIGATION

In [79]:
c = 0 
for i in data['Category']:
    if (i == 'AUTO_AND_VEHICLES'):
        c += 1
        
        

print(c)

73

In [80]:
c = 0 
for i in data['Category']:
    if (i == 'COMICS'):
        c += 1
        
        

print(c)

58